.form {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    padding-block: 1rem;
}

.form input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    background: rgba(255,255, 255, 0.2);
    border: 1px solid rgba(0,0,0,0);
    outline: none;
    caret-color: #f8f8f8;
}

input::placeholder {
    color: #f8f8f8;
    text-align: center;
}
input:focus {
    border: 1px solid rgba(255,255,255, 0.8);
}